:root {
	--main-color: rgb(66, 31, 90);
	--main-color-light: rgba(211, 151, 74, 0.5);
	--accent-color: rgba(155, 89, 182, 1.0);
	--accent-color-light: rgba(156, 89, 182, 0.5);
}

.center {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

html {
	min-height: 100%;
}

body {
	background-image: linear-gradient(to top left, var(--main-color), var(--main-color-light));
	background-repeat: no-repeat;
}